[includeIf "gitdir:/Users/ramongoncalves/Documents/erlang-solutions/elc/"]
	path = "~/.gitconfig-work"

[includeIf "gitdir:/Users/ramongoncalves/Documents/personal/"]
	path = "~/.gitconfig-personal"

[includeIf "gitdir:/Users/ramongoncalves/dotfiles/"]
	path = "~/.gitconfig-personal"

[includeIf "gitdir:/Users/ramongoncalves/Documents/erlang-solutions/pepsico/"]
	path = "~/.gitconfig-personal"

[includeIf "gitdir:/Users/ramongoncalves/Documents/erlang-solutions/razoyo/"]
	path = "~/.gitconfig-personal"

[includeIf "gitdir:/Users/ramongoncalves/Documents/erlang-solutions/cortex/"]
	path = "~/.gitconfig-personal"

[includeIf "gitdir:/Users/ramongoncalves/Documents/erlang-solutions/cortex_agent/"]
	path = "~/.gitconfig-personal"

[includeIf "gitdir:/Users/ramongoncalves/Documents/assessments/"]
	path = "~/.gitconfig-anonymous"

[hub]
	protocol = ssh

[core]
	editor = vim

[pager]
	branch = false
