[user]
	name = Ramon Gonçalves
	email = raigons@gmail.com

[includeIf "gitdir:~/Documents/erlang-solutions/elc/"]
	path = "~/.gitconfig-work"

[includeIf "gitdir:~/Documents/personal/"]
	path = "~/.gitconfig-personal"

[includeIf "gitdir:~/dotfiles/"]
	path = "~/.gitconfig-personal"

[includeIf "gitdir:~/Documents/erlang-solutions/pepsico/"]
	path = "~/.gitconfig-personal"

[includeIf "gitdir:~/Documents/erlang-solutions/razoyo/"]
	path = "~/.gitconfig-personal"

[includeIf "gitdir:~/Documents/erlang-solutions/cortex/"]
	path = "~/.gitconfig-personal"

[includeIf "gitdir:~/Documents/erlang-solutions/cortex_agent/"]
	path = "~/.gitconfig-personal"

[includeIf "gitdir:~/Documents/assessments/"]
	path = "~/.gitconfig-anonymous"

[hub]
	protocol = ssh

[core]
	editor = vim

[init]
	defaultBranch = main

[pull]
	rebase = true

[pager]
	branch = false
